<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta</title>
</head>
<body>
    <h1> Venta Nueva</h1>



    <video width="640" height="480">
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/mp4" />
          <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/ogg" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/webm" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/avi" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/mov" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/mkv" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/flv" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/wmv" />
        <source  th:src="@{/resources/static/videos/BETSSS.mp4}" type="video/3gp" />
        <img  th:src="@{imagen.png}" alt="Video no soportado" />
        Su navegador no soporta contenido multimedia.
    </video>



    <div><button class="enlace" role="link" onclick="window.location.href='http://localhost:8080/app/home'" >Regresar al inicio</button></div>
</body>
</html>